<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="JRobotConfig" type="jrobbot.JRobotConfig, jrobbot"/>
    <section name="UserInfo" type="jrobbot.UserInfoSection, jrobbot"/>
    <section name="CompInfo" type="jrobbot.CompInfoSection, jrobbot"/>
  </configSections>

  <JRobotConfig Username="test" Password="test" Server="gmail.com" ConnectionServer="gtalk.google.com"/>

  <UserInfo>
    <add Login="test" Password="test" IsAdmin="true" CompName="leonid"/>
  </UserInfo>

  <CompInfo>
    <add Name="test" Descr="test desktop" Mac="112233445566" Ip="192.168.0.10"/>
  </CompInfo>
  
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
