<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="JRobotConfig" type="jrobbot.Configs.JRobotConfig, jrobbot"/>
  </configSections>

  <JRobotConfig Username="test" Password="test" Server="gmail.com" 
								ConnectionServer="gtalk.google.com"/>

  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
